<form class="w-50 mx-auto p-4" name="frmforgotpassword">
  <caption>
    <h1>Lấy lại tài khoản</h1>
  </caption>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Email</label>
    <input name="email" ng-model="email" type="email" id="email" class="form-control " required>
    <small ng-show="frmforgotpassword.email.$error.required" id="email" class="form-text text-danger">Vui lòng nhập
      email</small>
    <small ng-show="frmforgotpassword.email.$error.email" id="email" class="form-text text-danger">Không đúng định dạng
      email</small>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Tài Khoản</label>
    <input name="username" ng-model="username" type="text" id="username" class="form-control" required maxlength="25">
    <small ng-show="frmforgotpassword.username.$invalid" id="username" class="form-text text-danger">Vui lòng nhập tài
      khoản</small>
  </div>

  <!-- 2 column grid layout for inline styling -->


  </div>

  <!-- Submit button -->
  <button type="button" ng-click="getPass()" ng-disabled="frmforgotpassword.$invalid"
    class="btn btn-primary btn-block mb-4">Lấy lại tài khoản</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Quay lại <a href="#!login">Đăng nhập</a></p>


  </div>
</form>